# This is a clouds.yaml file, which can be used by OpenStack tools as a source
# of configuration on how to connect to a cloud. If this is your only cloud,
# just put this file in ~/.config/openstack/clouds.yaml and tools like
# python-openstackclient will just work with no further config. (You will need
# to add your password to the auth section)
# If you have more than one cloud account, add the cloud entry to the clouds
# section of your existing file and you can refer to them by name with
# OS_CLOUD=openstack or --os-cloud=openstack
clouds:
  openstack:
    auth:
      auth_url: https://keystone.ic-ps.ssl.mirantis.net/v3
      username: "admin"
      password: "<password>"
      project_id: ebeac8efa7ff4d3daee8e0c221dcab01
      project_name: "drivetrain-jenkins"
      project_domain_id: ebeac8efa7ff4d3daee8e0c221dcab01
      user_domain_name: "Default"
    region_name: "RegionOne"
    interface: "public"
    identity_api_version: 3
